{
  "rules": {
    "linebreak-style": 0,
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "$": true,
    "jQuery": true
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
