{
  "rules": {
    "linebreak-style": 0,
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "extends": [
    "airbnb-base"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
