- const stamp = Math.round(new Date().getTime() / 1000)

head
  title MPA frontend template

  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  link(rel='stylesheet' href=`css/app.css?stamp=${stamp}`)
  script(src=`js/app.js?stamp=${stamp}`)
