extends blocks/layout

block content
  .output
  .block
    button.block__button adasd
  input(type='text', name='')
  a(href=jsv) adasdasd
  p
    | Рубль:
    span.r
  svg
    use(xlink:href='#twitter')
  svg
    use(xlink:href='#facebook')
  svg
    use(xlink:href='#wikipedia')
