extends includes/layout

include mixins/img
include mixins/icon

block content
  .output
  .block
    button.block__button Кнопка
  input(type='text', name='')
  a(href=JSV) adasdasd

  p
    | Рубль:
    span.r

  p icons
  +icon('twitter').some-class
  +icon('facebook').some-class
  +icon('wikipedia').some-class

  p image in mixin with require and srcset
  +img('sample.jpg')(alt='image').some-class

  p image only require
  img(src=`${require('Img/sample.jpg')}` srcset=`${require('Img/sample@2x.jpg')} 2x` alt='')


