@require '~normalize.css'
@require 'other/media'
@require 'other/font'
@require 'blocks/*'

.block
  background-color green
  display flex
  flex-direction row-reverse

  +mobile()
    &__button
      font-size 48px
